* {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-family: "IBM Plex Serif", serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: #151E3D;
  color: white;
}

.wave {
  margin-left: 30px;
  font-size: 1.5em;
}

main {
  margin: auto;
  display: flex;
  flex-flow: row;
  max-width: 1000px;
}

nav {
  padding: 10px;
}

nav li {
  list-style: none;
  margin-bottom: 20px;
  margin-right: 40px;
  color: lightgray;
}

nav a {
  text-decoration: none;
  color: lightgray;
}

b {
  font-weight: 800;
}

.heading span {
  height: 100%;
  align-items: center;
}

.heading h1 {
  margin-top: 0.5em;
}

.heading {
  display: flex;
  flex-flow: row;
}

.wave {
  width: 2em;
  margin-left: 70px;
  animation-name: wave-out;
  animation-duration: 10s;
}

.wave:hover {
  animation-name: wave;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-delay: 0s;
}

@keyframes wave-out {
  100% {
    transform: rotate(0deg) translate(0px, 0px);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: translate(-15px) rotate(-30deg),
  }

  60% {
    transform: translate(15px) rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.current-page {
  color: #76CF3A;
}

.current-page::before {
  content: '';
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  background: #76CF3A;
  border: #76CF3A;
  border-radius: 100px;
  margin-top: 0.45em;
  margin-left: -20px;
}

a {
  color: #76CF3A;
}

a:hover {
  filter: invert(30%);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

section {
  padding: 10px;
}

section h1 {
  margin-bottom: 60px;
  font-weight: 900;
}

section p {
  margin-bottom: 30px;
}

footer {
  text-align: right;
  margin-top: 100px;
}

.item-container {
  min-width: 180px;
}

.top-level-container {
  display: flex;
  flex-flow: column;
}

.bottom-level-container {
  display: flex;
  flex-flow: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.filler-element {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
}

@media (width >=700px) {
  .filler-element {
    display: block;
  }

  .bottom-level-container {
    display: flex;
    flex-flow: row;
  }

  nav ul {
    flex-direction: column;
  }
}

.links {
  width: 1.1em;
  margin-left: 5px;
}

.invert {
  filter: invert(100%);
}

.mail {
  width: 1.5em;
}
